<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style_index.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Up ảnh để nhận diện</h1>
        <form action="/" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>  
            <div class="form-group">
                <input type="text" name="url" class="form-control" placeholder="Hoặc nhập URL của ảnh">
            </div>
            <button type="submit" class="btn btn-primary">Tải ảnh lên</button>
        </form>
    </div>
</body>
</html>
